@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* Slider Section */
.slider-img{
    background-size: cover;
}

/* Packages Section */
#p-item{
    top: -2rem;
}
/* footer section */
footer{
    background-color: #0B0D17;
    height: 250px;
}
#copyright{
    margin-top: 125px;
}
